.commerce_ups_address_validation-message .adr {
	background: url('./commerce_ups_address_validation_invalid.png') no-repeat center left;
	padding-left: 10em;
}

#edit-commerce-ups-address-validation-address-selected-address label {
	height: 2.1em;
	background: url('./commerce_ups_address_validation_validated.png') no-repeat top right;
	padding: .6em 9.5em 0 .2em;
	display: inline-block;
}

#edit-commerce-ups-address-validation-address-selected-address div:first-child label {
	height: 1.5em;
	background: none;
	padding: .6em 0 0 .2em;
	display: inline-block;
}

.validation-warning {
  color: red;
	font-style: italic;
}

